<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Панель администратора</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->




<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Электронный журнал ККЭП</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Главная<span class="sr-only">/</span></a>
            <a class="nav-item nav-link active" href="/admin">Панель</a>
            <a class="nav-item nav-link" href="/logout">Выход</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Расписание</a>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-12">
            <div class="jumbotron mt-2">
                <div class="container">
                    <h1 class="display-4">Панель преподавателя</h1>
                    <p class="lead">Это панель создана для управление электронным журналом Краснодарского колледжа электронного приборостоения</p>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>



<div class="row justify-content-center">


    <div class="col-3 mt-4 shadow p-3 mb-5 ml-5 mr-3 bg-white rounded">

        <p class="mt-1 mb-1 font-weight-light text-primary h2 mx-auto bg-white rounded">Управление группами</p>
        <p><small>Всё что связано с группами</small></p>

        <ul class="nav column">
            <li class="nav-item">
                <a class="nav-link" href="/teacher/showLoad">Просмотр нагрузки</a>
                <a class="nav-link" href="/teacher/createLesson">Создание предмета</a>
                <a class="nav-link" href="/teacher/setMarks">Установка оценок</a>
            </li>
        </ul>

        <!--    <a href="/registration" class="btn btn-outline-success mt-3" role="button" aria-disabled="true" >Зарегистрироваться</a>-->
    </div>


    <div class="col-3 mt-4 shadow p-3 mb-5 ml-3 mr-3 bg-white rounded">

        <p class="mt-1 mb-1 font-weight-light text-primary h2 mx-auto bg-white rounded">Учётные записи</p>
        <p><small>Всё что связано с учётными записями</small></p>

        <ul class="nav column">
            <li class="nav-item">
                <a class="nav-link" href="/teacher/teacher">Преподавателя</a>
                <a class="nav-link" href="/teacher/student">Студента</a>
            </li>
        </ul>
        </form>
    </div>


</div>

</div>


<!--<button type="button" class="btn btn-outline-success">Success</button>-->





</body>
</html>