<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + somethink + '!'" />


<a href="/findByLastName">Find by lastName</a>
<a href="/createUser">Register</a>
<a href="/delete">Delete</a>
<a href="/login">Login</a>
<!--<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
<!--<form th:action="@{/login}" method="post">-->
<!--    <input type="submit" value="Sign Out"/>-->
<!--</form>-->
</body>
</html>